*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    font-size: 1.3rem;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo-G{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.pages ul{
    list-style: none;
    display: flex;
    /* margin-right: 10px; */
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.pages ul li a{
    text-decoration: none;
}
.followus{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}

.button1{
    border-radius: 48px;
    
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: white;
    border: none;
    background-color: #FF42A5;
    cursor: pointer;
}
.button2{
    background-color: #4EC5F7;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* background-color: #FF42A5; */
    padding: 50px;   
}
.banner-content{
    text-align: left;
}
.banner-features{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 1.8rem;
    display: flex;
    align-items: baseline;
    justify-content: start;
    flex-direction: column; 
}

.banner-features ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner-title{
    font-size: 3rem;
}
.goat{
    font-size: 6rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.img{
    width: 100%;
    background-size: cover;
    
}
.online-games-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

}
.online-games{
    text-align: center;
}
.online-games-description{
    font-size: 1rem;
}

.og-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.games{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 14px;
    max-width: 1100px;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 50px;
}
.card-img{
    width: 100%;
    margin-bottom: 12px;
}
.card-description{
    color: #0b0223b1;
}
    
.play-games{
    /* background-color: #F948B2; */
    /* height: 80vh; */
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding: 25px;
    /* max-width: 1150px; */
    /* margin: 0 auto; */
    margin-bottom: 80px;
}

.image-box{
    position: relative;
}

.relativeimg{
    position: absolute;
    bottom: -150px;
    right: -100px;
}
.pg{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-games-title{
    font-size: 3rem;
    margin-bottom: 12px;
}
.play-games-description{
    font-size: 1.4rem;
    color: #0b0223b5;
}



